<div class="body">
  <div class="container">
    <p id="notice"></p>
     <div class="row">
       <%= render 'users/a', user: current_user, book: @book %>
<div class="col-xs-9">
<h1>Users</h1>
     <table class="table table-striped">
     <thead>
     <tr>
      
     <th>Image</th>
     <th>name</th>
     <th>     </th>
     <th colspan="4"></th>
     </tr>
     </thead>

     <tbody>
     
     <% @users.each do |user| %>
      <tr>
        
       <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg",size: "60x60" %></td>
        <td><%= user.name %></td>
        <td><%= link_to " Show ",user_path(user.id)%>
      </tr>
     <% end %>
    </tbody>
    </table>
  </div>
</div>
</div>
</div>
