<body>
 <div class="container">
<h1>welcome to <span class="glyphicon glyphicon-book"><strong>Bookers</strong>!</span></h1>
</div>
</body>
<footer>

   <div class="container">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>
