<% if book.errors.any? %>
     <h3><%= books.errors.count %>errors prohibited this book from being saved:</h3>
     <ul>
    <% books.errors.full_messages.each do |message|%>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>